.navbar{
    background-color: black !important;
    width:100%;
}

.NavItem{
    color:#7bed7d;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}
.NavItem:active{
    color: white;
}
.NavItem:hover{
    color: white;
}
.brand{
    font-size: 32px;
    margin-left: 40px;
}

.logo{
    height:100px;
   
    padding-left:20px;
}