.streamButton{
    background-color: #3F575E ;
    color: white;
    font-family: 'Barlow', sans-serif;
}

.taskHeader{
    font-family: 'Barlow', sans-serif;
}

.addTaskButton, .accoladeButton{
    background-color: #A8DE02;
    color:  black;
    font-family: 'Barlow', sans-serif;
}

.taskButton {
    margin-left:10px;
    background-color: #A8DE02;
    color:  black;
    border-color: black;
    margin-right: 10px;
    border-radius: 10px;
    font-family: 'Barlow', sans-serif;
}

.taskList{
    margin-top:10px;
    font-size: 20px;
    list-style-type: decimal;
    font-family: 'Barlow', sans-serif;
 }

 .stream{
    margin-top: 19px;
}

.accolades{
    font-size: 20px;
    list-style-type: decimal;
    font-family: 'Barlow', sans-serif;
}